node_modules
.git
.turbo
dist
coverage
e2e
docs
*.md
!pnpm-workspace.yaml
.env
.env.*
!.env.example
*.log
.DS_Store
.vscode
.idea
.github
infra/scripts
infra/grafana
infra/prometheus
infra/loki
infra/tempo
infra/otel
sonar-project.properties
**/*.spec.ts
**/*.test.ts
**/vitest.config.*
**/__tests__
**/__mocks__
